include upstream.conf;

server {
    if ($host = {{ getenv "NGINX_SERVER_NAME" }}) {
        return 301 https://$host$request_uri;
    }

    listen 80 default_server;
    listen [::]:80 default_server;
    server_name {{ getenv "NGINX_SERVER_NAME" }} www.{{ getenv "NGINX_SERVER_NAME" }};
    return 301 https://$server_name$request_uri;
}


server {
    listen 443 ssl { if getenv "NGINX_HTTP2" }} http2{{ end }} default_server;
    listen [::]:443 ssl { if getenv "NGINX_HTTP2" }} http2{{ end }} default_server;
    server_name  {{ getenv "NGINX_SERVER_NAME" "default" }};

    {{ if getenv "NGINX_MODSECURITY_ENABLED" }}
	modsecurity on;
    modsecurity_rules_file /etc/nginx/modsecurity/main.conf;
    {{ end }}

    root {{ getenv "NGINX_SERVER_ROOT" "/var/www/html" }};

    {{ if getenv "NGINX_VHOST_PRESET" }}
    include preset.conf;
    {{ end }}

    {{ if not (getenv "NGINX_VHOST_NO_DEFAULTS") }}
    include defaults.conf;
    {{ end }}

    ssl_certificate /etc/letsencrypt/live/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/privkey.pem;
}
